/* --------------------------------- Algemene regels ---------------------------------- */

body {
    background:#FDF6DC;
    font-family:"Myriad Pro", Helvetica, Arial, sans-serif;
    font-size:90%;
    color:#968461;
    margin:0px auto;
    text-align:center;
    line-height:1.4em;
    width:960px;
}

/* Oefening afgeronde hoeken */
h1, h2, h3 {
    font-family:Helvetica, Arial, sans-serif;
    font-size:1.5em;
    text-transform:uppercase;
    font-weight:normal;
    text-align:center;	
    border-radius: 1em;
}

a:link, a:visited {
    font-family:georgia, times, serif;
    font-weight:bold;
    color:#FC2126;
    text-decoration:none;
    border-bottom:1px solid #FC2112;
    font-size:.8em;
}

a:hover {
    border-bottom:1px dotted #FC2112;
}

a img {
    border:none;
}

/* Oefening kleurovergang */
header, section, article, footer {
    padding:10px 20px 20px;
    margin:10px;
    border:1px solid #FC9F21;	
    border-radius:.8em;	
    /*    background: -moz-linear-gradient(top,  #ffedd9 0%, #ffdebf 100%);  FF3.6+ 
        background: -webkit-linear-gradient(top,  #ffedd9 0%,#ffdebf 100%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  #ffedd9 0%,#ffdebf 100%);  Opera 11.10+ 
        background: -ms-linear-gradient(top,  #ffedd9 0%,#ffdebf 100%);  IE10+ */
    background: linear-gradient(to bottom,  #ffedd9 0%,#ffdebf 100%); /* W3C */
}

/* --------------------------------- Stijlregels voor de Header ---------------------------------- */

header {
    display:block;
    position:relative;
    text-align:left;

}

/* Oefening animatie */
header img {
    position:absolute;
    top:18px;
    left:20px;	
    animation: beweging 3s 1
}

@keyframes beweging{
    0%{left:20px;}
    50%{left:80px;}
    100%{left:20px;}
}

/* Oefening schaduw */
header h1 {
    font-size:4em;
    text-align:center;
    text-shadow: 2px 2px 1px black;
}

header h2 {
    margin:-10px 0px 20px;
    font-size:1.3em;
    text-align:center;
}





/* --------------------------------- Stijlregels voor de Navigatie ---------------------------------- */

nav {
    text-align:center;	
}

nav ul {
    padding:0px;
    list-style-type:none;
}

nav li {
    margin:0px 10px;
    padding:0px;
    list-style-type:none;
    display:inline;
}

nav a:link, nav a:visited {
    font-size:1.4em;
    font-weight:normal;
}

/* --------------------------------- Stijlregels voor de Sections ---------------------------------- */

section#left {
    float:left;
    width:178px;
    text-align:left;
}

section#right {
    float:right;
    width:178px;
    text-align:left;
}

section h1, section h2, section h3 {
    color:#fff;
    padding:9px 10px 10px 10px;
    margin:13px -10px;
    text-shadow:0 1px 0 #403232;
    background: #968866;	
}

section ul {
    padding:0px;
    list-style:none;
    border-top:1px solid #FC9F21;
    margin:14px 0px;
}

section li {
    margin:0px;
    padding:0px;
    list-style:none;
}

section li a:link, section li a:visited {
    float:left;
    width:96%;
    padding:3px 1%;
    border-bottom:1px solid #FC9F21;
}

section li a:hover {
    background:#FCC786;
}

/* --------------------------------- Stijlregels voor de articles ---------------------------------- */

article {
    float:left;
    width:418px;
    text-align:left;
}

article h1 {
    color:#fff;
    padding:9px 10px 10px 10px;
    margin:13px -10px;
    text-shadow:0 1px 0 #403232;
    background: #6E634B;

}

article h2, article h3  {
    color:#fff;
    padding:9px 10px 10px 10px;
    margin:13px -10px;
    text-shadow:0 1px 0 #403232;
    background: #E44D26;	
}

article p:first-of-type {
    font-family:Helvetica, Arial, serif;
    text-transform:uppercase;
    border-top:1px dotted #968461;
    border-bottom:1px dotted #968461;
    padding:10px 0px;
    color:#FC2126;
}

.galerij {
    text-align:center;	
}

/* Oefening transparantie transformatie transitie */
.galerij img{
    display:inline-block;
    margin:5px;	
    border-radius:2em;
    opacity: 0.5;
/*    -o-transition:all 2s;	
    -moz-transition:all 2s;
    -webkit-transition:all 2s;
    -ms-transition:all 2s;*/
    transition: all 0.5s;
}

.galerij img:hover {
    opacity: 1;
/*    -o-transform:scale(1.1) translate(0px, 20px);
    -ms-transform:scale(1.1) translate(0px, 20px);
    -webkit-transform:scale(1.1) translate(0px, 20px);
    -moz-transform:scale(1.1) translate(0px, 20px);*/
    transform:scale(1.1) translate(0px,10px);
}


/* --------------------------------- Stijlregels voor het formulier ---------------------------------- */

label {
    display:block;
    font-weight:bold;
}

input, textarea {
    font-family:"Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
    font-size:90%;
    color:#968461;
    border:1px solid #FC9F21;	
    border-radius:3px;
    padding:2px 4px;
    width:168px;
    background:#ffedd9;
}

input:focus, textarea:focus {
    border:1px solid #E44D26;
}

button {
    float:right;
    font-family:Georgia, times, serif;
    font-size:1.2em;
    color:#fff;
    font-style:italic;
    border:1px solid #FC2126;	
    border-radius:1em;
    padding:3px 12px;
    background:#E44D26;
    cursor:pointer;
}

/* --------------------------------- Stijlregels voor de Footer ---------------------------------- */

footer {
    display:block;
    clear:both !important;
    padding:2px;	
}

footer a {
    margin:0px 5px;
}